<div class="records">
  <select class="w-75 mx-auto p-1" onchange="window.location.href=this.value;" style="display: block;" disabled>
    <option selected>類別</option>
    <option value="/filter?order=asc&filter=domestic">家居物業</option>
    <option value="/filter?order=asc&filter=traffic">交通出行</option>
    <option value="/filter?order=asc&filter=recreation">休閒娛樂</option>
    <option value="/filter?order=asc&filter=diet">餐飲食品</option>
    <option value="/filter?order=asc&filter=others">其他</option>
  </select>
  <h5 class="p-1 w-75 mx-auto">總金額：</h5>
  <div id="total-amount" class="text-right w-75 mx-auto" style="color: coral; font-size: 70px;">0</div>  
</div>
<div class="list-group records">
<table class="table table-striped table-borderless" style="margin-left: 12.5%;">
    <tbody>
      {{#each records}}
      <tr class="record">
        <td>
          <div class="category pt-3">{{this.category}}</div>
        </td>
        <td>
          <div class="pt-3 pr-5">
            <h5 class="name">{{this.name}}</h5>
            <small class="date">{{this.date}}</small>
          </div>
        </td>
        <td class="align-middle amount">{{this.amount}}</td>
        <td class="justify-content-end table-light table-borderless">
          <a href="/records/{{this.id}}/edit" class="btn btn-link text-dark pt-3">修改</a>
          <form action="/records/{{this.id}}?_method=DELETE" method="POST" style="display: inline-block;" onsubmit="if(confirm('確定刪除？')) return true; else return false">
            <button type="submit" class="btn btn-link text-danger pt-3">刪除</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/records/new" class="btn btn-outline-dark text-white w-50 mx-auto" style="background-color: coral;">新增支出</a>
</div>