<div class="records">
  <div class="selects w-75 mx-auto border" style="display: block;">
    <select class="mx-auto p-1" onchange="window.location.href=this.value;" style="display: inline-block; width: 49%;">
      <option disabled selected value>月份</option>
      <option value="/filter?order=asc&category=domestic">家居物業</option>
      <option value="/filter?order=asc&category=traffic">交通出行</option>
      <option value="/filter?order=asc&category=recreation">休閒娛樂</option>
      <option value="/filter?order=asc&category=diet">餐飲食品</option>
      <option value="/filter?order=asc&category=others">其他</option><option disabled selected value>月份</option>
      <option value="/filter?order=asc&category=domestic">家居物業</option>
      <option value="/filter?order=asc&category=traffic">交通出行</option>
      <option value="/filter?order=asc&category=recreation">休閒娛樂</option>
      <option value="/filter?order=asc&category=diet">餐飲食品</option>
      <option value="/filter?order=asc&category=others">其他</option>
      <option value="/filter?order=asc&category=domestic">家居物業</option>
      <option value="/filter?order=asc&category=traffic">交通出行</option>
    </select>
  
    <select class="mx-auto p-1 float-right" onchange="window.location.href=this.value;" style="display: inline-block; width: 49%;">
      <option disabled selected value>類別</option>
      <option value="/filter?order=asc&category=domestic">家居物業</option>
      <option value="/filter?order=asc&category=traffic">交通出行</option>
      <option value="/filter?order=asc&category=recreation">休閒娛樂</option>
      <option value="/filter?order=asc&category=diet">餐飲食品</option>
      <option value="/filter?order=asc&category=others">其他</option>
    </select>
  </div>
  <h5 class="p-1 w-75 mx-auto">總金額：</h5>
  <div id="total-amount" class="text-right w-75 mx-auto" style="color: coral; font-size: 70px;">0</div>  
</div>
<div class="list-group records">
<table class="table table-striped table-borderless" style="margin-left: 12.5%;">
    <tbody>
      {{#each records}}
      <tr class="record">
        <td class="pt-3 pl-3">
          <div class="category">{{this.category}}</div>
        </td>
        <td class="pr-5">
          <div class="pt-2 pr-5">
            <h5 class="name">{{this.name}}</h5>
            <small class="date">{{this.date}}</small>
          </div>
        </td>
        <td class="align-middle amount pr-2">{{this.amount}}</td>
        <td class="justify-content-end table-light table-borderless">
          <a href="/records/{{this.id}}/edit" class="btn btn-link text-dark pt-3">修改</a>
          <form action="/records/{{this.id}}?_method=DELETE" method="POST" style="display: inline-block;" onsubmit="if(confirm('確定刪除？')) return true; else return false">
            <button type="submit" class="btn btn-link text-danger pt-3">刪除</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/records/new" class="btn btn-outline-dark text-white w-50 mx-auto" style="background-color: coral;">新增支出</a>
</div>